## EAS 503 Homework 4 Submission
Name - Hyungkyu Lim

**Make sure that you rename the notebook file to *replacewithubitname*_eas503_hw4.ipynb**


### Submission Details 
### Submit on UBLearns

* **Due Date** - December 5, 2018 by 11.59 PM PST. All assignments have to be submitted using UBLearns.
* **Number of Problems** - 1 
* **Maximum points** - 50
* **Collaboration policy**
 - Every student has to submit individual homeworks
 - Any collaboration, in the form of discussion, with other members of the class is permitted, as long as the names of the collaborating members are explicitly stated on top of the submitted homework.
 - Any overlap with another submission or material from Internet will be awarded an F.
* **Late submission policy** - _No late submissions allowed_
* **Submission Format** - Enter code for each problem in the appropriate cell below. You may use multiple cells for a single problem to improve readability.

### Problem 1 - Chicago Crime Dataset (50 points)

Recall the Chicago Crime Data that was used in HW3. In this HW you are provided with 3 data files namely `chicago_crime_data_1.csv`, `chicago_crime_data_2.csv` and `primary_type_id.csv`.  The `chicago_crime_data_1.csv` contains data pertaining to the details of the crime and the `chicago_crime_data_2.csv` has information about the location and type. Both the datasets have the Crime ID as the primary indicator. 

The `primary_type_id.csv` contains the mapping between the primary crime type to their corresponding ID.

### Importing data
From the command line, execute the following command (assuming your current directory contains the homework files):
```bash
mysql --local-infile -u root -proot < setupdb.sql
```
> _Note_: In some systems you might not need the `--local-infile` option, it depends on the mode in which the database server is running. If you are running it in default mode, you most likely will need that option

The database is needed to verify that your queries are running correctly. But you do not have to submit the output of your queries. You only have to submit the queries and in some cases, the algebraic expression and the expression trees.
### Problems
You will be asked to create a single sql query that will result in the desired output. Wherever required, provide the algebraic expressions and expression trees.

1. How many arrests were made for domestic crimes? (Query)

2. Subset the list of crimes that occured at SIDEWALK and an arrest has been made. (Query, algebraic expression and expression tree)

3. How many arrests were made for domestic crimes? (Query)

4. Report all the case details available to the case number "HZ237376". (Query, algebraic expression and expression tree) 

5. What is the increase in the number of crimes involving thefts (primary crime type) from 2016 to 2017? (Query)

6. List all the descriptions that occured in district 15 under the Primary Type ID = 11. Order them alphabetically. (Query)

7. Average days between the crime incident date and last updated date. (Query)

8. List the crimes that were committed on `4/30/2016` and updated on the same day. (Query, algebraic expression, expression tree)

9. Subset the list of crimes in 2016 that were domestic and occured on a `STREET` and an arrest was made. (Query, algebraic expression, expression tree)

10. Are there any crimes that involved `Telephone threats` that occured in District `10` and FBI code `30`? (Query, algebraic expression, expression tree)


Submit the SQL query as a .txt file. The algebraic expressions and expression tree can be hand written and scanned and submitted through UBLearns as a single PDF file.

In [1]:
import pymysql
import pandas as pd 

host="dream777xxx.c4stvxluvkrc.us-east-1.rds.amazonaws.com"
port=3306
dbname="hw"
user="dream777xxx"
password="Ubuffalo13245!"

conn = pymysql.connect(host, user=user,port=port,
                           passwd=password, db=dbname)

In [2]:
q1 = "SELECT Domestic, count(*) as Domestic_Crime from crimedata1 WHERE Domestic='TRUE';"

df_q1=pd.DataFrame(pd.read_sql(q1,conn))
df_q1

  Domestic  Domestic_Crime
0     TRUE           70448

In [3]:
q2 = "SELECT Primary_Type as Crime_Type from crimedata2 join crimedata1 ON crimedata2.Crime_ID = crimedata1.Crime_ID join crime_type\
      ON crimedata2.Primary_Type_ID = crime_type.Primary_Type_ID WHERE Arrest = 'TRUE' and Location_Description = 'SIDEWALK' group by Primary_Type;"

df_q2=pd.DataFrame(pd.read_sql(q2,conn))
df_q2

                           Crime_Type
0                               ARSON
1                             ASSAULT
2                             BATTERY
3                            BURGLARY
4   CONCEALED CARRY LICENSE VIOLATION
5                 CRIM SEXUAL ASSAULT
6                     CRIMINAL DAMAGE
7                   CRIMINAL TRESPASS
8                  DECEPTIVE PRACTICE
9                            GAMBLING
10   INTERFERENCE WITH PUBLIC OFFICER
11                       INTIMIDATION
12                         KIDNAPPING
13               LIQUOR LAW VIOLATION
14                MOTOR VEHICLE THEFT
15                          NARCOTICS
16                          OBSCENITY
17         OFFENSE INVOLVING CHILDREN
18           OTHER NARCOTIC VIOLATION
19                      OTHER OFFENSE
20                       PROSTITUTION
21                   PUBLIC INDECENCY
22             PUBLIC PEACE VIOLATION
23                            ROBBERY
24                        SEX OFFENSE
25                           STALKING
26                              THEFT
27                  WEAPONS VIOLATION

In [4]:
q4 = "SELECT * from crimedata1 WHERE Case_Number ='HZ237376';"

df_q4=pd.DataFrame(pd.read_sql(q4,conn))
df_q4

,Crime_ID,Case_Number,Date,Arrest,Domestic,Beat,District,Ward,Community_Area,FBI_Code
0,10496352,HZ237376,2016-04-23 16:39:00,FALSE,TRUE,1021,10,24,29,6\r

In [5]:
q5 = "SELECT((SELECT count(Crime_ID) from crimedata2 WHERE year=2017 and Primary_Type_ID=32) - (SELECT count(Crime_ID) from crimedata2 WHERE year=2016 and Primary_Type_ID=32))\
      AS Increasing From crimedata2 GROUP BY Increasing;"

df_q5=pd.DataFrame(pd.read_sql(q5,conn))
df_q5

   Increasing
0      -21800

In [6]:
q6 = "SELECT * from crimedata1 join crimedata2 ON crimedata1.Crime_ID = crimedata2.Crime_ID WHERE District=15 and Primary_Type_ID=11;"

df_q6=pd.DataFrame(pd.read_sql(q6,conn))
df_q6

,Crime_ID,Case_Number,Date,Arrest,Domestic,Beat,District,Ward,Community_Area,FBI_Code,...,Block,IUCR,Primary_Type_ID,Description,Location_Description,X_Coordinate,Y_Coordinate,Year,Updated_On,Location
0,22250,HZ103309,2016-01-04 08:58:00,TRUE,FALSE,1523,15,28,25,01A\r,...,004XX N CENTRAL AVE,110,11,FIRST DEGREE MURDER,STREET,1138960.0,1902330.0,2016,2016-02-19 15:45:00,"(41.888119752, -87.765135251)"
1,22268,HZ112330,2016-01-11 21:39:00,FALSE,FALSE,1531,15,28,25,01A\r,...,007XX N LAVERGNE AVE,110,11,FIRST DEGREE MURDER,STREET,1142890.0,1904360.0,2016,2016-01-18 15:54:00,"(41.893618053, -87.750663154)"
2,22521,HZ292777,2016-06-04 03:06:00,FALSE,FALSE,1532,15,28,25,01A\r,...,002XX N LARAMIE AVE,110,11,FIRST DEGREE MURDER,ALLEY,1141670.0,1901140.0,2016,2016-06-11 15:53:00,"(41.884796415, -87.755227274)"
3,22551,HM489058,2016-06-12 19:54:00,TRUE,TRUE,1523,15,28,25,01A\r,...,001XX N LOREL AVE,110,11,FIRST DEGREE MURDER,HALLWAY,1140690.0,1900440.0,2016,2016-08-03 15:49:00,"(41.88290449, -87.758828452)"
4,22548,HZ306312,2016-06-14 00:08:00,FALSE,FALSE,1522,15,29,25,01A\r,...,053XX W GLADYS AVE,110,11,FIRST DEGREE MURDER,STREET,1140820.0,1897820.0,2016,2016-06-21 15:56:00,"(41.875709724, -87.75841188)"
5,22549,HZ306529,2016-06-14 03:40:00,TRUE,FALSE,1531,15,37,25,01A\r,...,049XX W HURON ST,110,11,FIRST DEGREE MURDER,STREET,1143210.0,1904190.0,2016,2017-01-19 15:52:00,"(41.893129063, -87.74948127)"
6,22558,HZ309986,2016-06-16 12:38:00,FALSE,FALSE,1531,15,37,25,01A\r,...,048XX W WALTON ST,110,11,FIRST DEGREE MURDER,STREET,1143920.0,1905870.0,2016,2016-06-23 15:48:00,"(41.897736958, -87.746849759)"
7,22561,HZ312582,2016-06-18 06:29:00,FALSE,FALSE,1533,15,28,25,01A\r,...,048XX W MONROE ST,110,11,FIRST DEGREE MURDER,STREET,1144120.0,1899220.0,2016,2016-06-25 15:51:00,"(41.879490255, -87.746271206)"
8,22581,HZ323876,2016-06-26 05:19:00,FALSE,FALSE,1511,15,29,25,01A\r,...,009XX N MASSASOIT AVE,110,11,FIRST DEGREE MURDER,AUTO,1137860.0,1905620.0,2016,2016-07-03 15:50:00,"(41.897170733, -87.769124796)"
9,22607,HZ341632,2016-07-09 00:38:00,FALSE,FALSE,1532,15,28,25,01A\r,...,005XX N LAVERGNE AVE,110,11,FIRST DEGREE MURDER,STREET,1142930.0,1903280.0,2016,2016-07-16 15:47:00,"(41.890659185, -87.750550482)"
10,22621,HZ350267,2016-07-15 15:22:00,FALSE,FALSE,1533,15,24,25,01A\r,...,006XX S CICERO AVE,110,11,FIRST DEGREE MURDER,AUTO,1144500.0,1896580.0,2016,2016-07-22 15:49:00,"(41.87223036, -87.744935073)"
11,22624,HZ351989,2016-07-17 01:22:00,FALSE,FALSE,1531,15,37,25,01A\r,...,010XX N LAMON AVE,110,11,FIRST DEGREE MURDER,STREET,1143510.0,1906290.0,2016,2016-07-24 15:50:00,"(41.898883465, -87.748348943)"
12,22627,HZ353096,2016-07-17 20:27:00,FALSE,FALSE,1532,15,28,25,01A\r,...,005XX N LAVERGNE AVE,110,11,FIRST DEGREE MURDER,STREET,1142940.0,1903110.0,2016,2016-07-24 15:50:00,"(41.890176109, -87.750532837)"
13,22628,HZ353327,2016-07-18 01:14:00,TRUE,FALSE,1533,15,28,25,01A\r,...,050XX W JACKSON BLVD,110,11,FIRST DEGREE MURDER,STREET,1142890.0,1898200.0,2016,2016-07-25 15:56:00,"(41.87671154, -87.750820421)"
14,22644,HZ365066,2016-07-26 11:59:00,FALSE,FALSE,1532,15,28,25,01A\r,...,001XX N LAPORTE AVE,110,11,FIRST DEGREE MURDER,STREET,1143350.0,1900660.0,2016,2016-08-03 15:52:00,"(41.883436982, -87.749059068)"
15,22657,HZ370588,2016-07-30 03:41:00,FALSE,FALSE,1533,15,28,25,01A\r,...,000XX N LECLAIRE AVE,110,11,FIRST DEGREE MURDER,STREET,1142380.0,1899760.0,2016,2016-08-06 15:51:00,"(41.880993552, -87.752639639)"
16,22660,HZ372455,2016-07-31 17:56:00,TRUE,TRUE,1511,15,29,25,01A\r,...,057XX W CHICAGO AVE,110,11,FIRST DEGREE MURDER,STREET,1137800.0,1904760.0,2016,2016-08-31 15:49:00,"(41.894795241, -87.769333023)"
17,22663,HZ375339,2016-08-02 21:30:00,FALSE,FALSE,1524,15,37,25,01A\r,...,006XX N LOTUS AVE,110,11,FIRST DEGREE MURDER,STREET,1139800.0,1903780.0,2016,2016-08-09 16:02:00,"(41.892083465, -87.76202233)"
18,22664,HZ374543,2016-08-02 01:00:00,FALSE,FALSE,1522,15,29,25,01A\r,...,052XX W GLADYS AVE,110,11,FIRST DEGREE MURDER,STREET,1141530.0,1897840.0,2016,2016-08-09 16:02:00,"(41.875743368, -87.755819254)"
19,22690,HZ385640,2016-08-10 20:37:00,FALSE,FALSE,1511,15,29,25,01A\r,...,059XX W DIVISION ST,110,11,FIRST DEGREE MURDER,AUTO,1136600.0,1907380.0,2016,2016-08-17 15:58:00,"(41.902023021, -87.773706834)"
20,22704,HZ391216,2016-08-14 03:06:00,FALSE,FALSE,1533,15,29,25,01A\r,...,050XX W VAN BUREN ST,110,11,FIRST DEGREE MURDER,ALLEY,1142980.0,1897540.0,2016,2016-08-21 15:53:00,"(41.874906954, -87.750502674)"
21,22705,HZ391329,2016-08-14 05:41:00,FALSE,FALSE,1523,15,28,25,01A\r,...,052XX W FERDINAND ST,110,11,FIRST DEGREE MURDER,VACANT LOT,1141340.0,1902640.0,2016,2016-08-21 15:53:00,"(41.888932488, -87.756416633)"
22,22740,HZ410831,2016-08-28 16:43:00,FALSE,FALSE,1522,15,29,25,01A\r,...,054XX W JACKSON BLVD,110,11,FIRST DEGREE MURDER,PORCH,1140280.0,1898140.0,2016,2016-09-04 15:47:00,"(41.876584106, -87.760401555)"
23,22748,HZ412704,2016-08-30 07:30:00,FALSE,FALSE,1522,15,29,25,01A\r,...,055XX W QUINCY ST,110,11,FIRST DEGREE MURDER,STREET,1139710.0,1898460.0,2016,2016-09-06 15:55:00,"(41.877469888, -87.762482982)"
24,22774,HZ425569,2016-09-08 13:10:00,TRUE,FALSE,1523,15,28,25,01A\r,...,002XX N LOCKWOOD AVE,110,11,FIRST DEGREE MURDER,AUTO,1141000.0,1901180.0,2016,2017-02-12 15:50:00,"(41.884923991, -87.757679269)"
25,22786,HZ435913,2016-09-15 22:00:00,FALSE,FALSE,1511,15,29,25,01A\r,...,056XX W CHICAGO AVE,110,11,FIRST DEGREE MURDER,STREET,1138730.0,1904780.0,2016,2016-09-22 15:56:00,"(41.894844328, -87.765927774)"
26,22822,HZ458845,2016-10-03 03:34:00,TRUE,FALSE,1512,15,29,25,01A\r,...,001XX N CENTRAL AVE,110,11,FIRST DEGREE MURDER,APARTMENT,1139020.0,1900540.0,2016,2016-12-21 15:52:00,"(41.883209435, -87.764962093)"
27,22845,HZ437538,2016-10-12 02:48:00,FALSE,FALSE,1524,15,37,25,01A\r,...,055XX W CORTEZ ST,110,11,FIRST DEGREE MURDER,ALLEY,1139130.0,1906450.0,2016,2016-10-19 15:51:00,"(41.899419707, -87.764410643)"
28,22847,HZ474538,2016-10-14 20:21:00,FALSE,FALSE,1522,15,29,25,01A\r,...,055XX W CONGRESS PKWY,110,11,FIRST DEGREE MURDER,AUTO,1139760.0,1897140.0,2016,2016-10-21 15:58:00,"(41.873855027, -87.762346249)"
29,22848,HZ474538,2016-10-14 20:42:00,FALSE,FALSE,1522,15,29,25,01A\r,...,055XX W CONGRESS PKWY,110,11,FIRST DEGREE MURDER,AUTO,1139760.0,1897140.0,2016,2016-10-21 15:58:00,"(41.873855027, -87.762346249)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62,23303,JA273232,2017-05-21 14:52:00,FALSE,FALSE,1512,15,29,25,01A\r,...,001XX N PARKSIDE AVE,110,11,FIRST DEGREE MURDER,YARD,1138570.0,1900590.0,2017,2017-05-28 15:48:00,"(41.883346594, -87.766617078)"
63,23301,JA272665,2017-05-21 01:53:00,FALSE,FALSE,1532,15,28,25,01A\r,...,049XX W HUBBARD ST,110,11,FIRST DEGREE MURDER,STREET,1143410.0,1902560.0,2017,2017-06-27 15:49:00,"(41.888660665, -87.748791115)"
64,23332,JA290857,2017-06-03 19:42:00,FALSE,FALSE,1524,15,37,25,01A\r,...,054XX W CORTEZ ST,110,11,FIRST DEGREE MURDER,STREET,1139680.0,1906460.0,2017,2017-06-10 15:49:00,"(41.899439903, -87.762397547)"
65,23333,JA288087,2017-06-03 20:00:00,FALSE,FALSE,1522,15,29,25,01A\r,...,055XX W CONGRESS PKWY,110,11,FIRST DEGREE MURDER,PORCH,1139630.0,1897140.0,2017,2017-06-10 15:49:00,"(41.873849112, -87.762812612)"
66,23368,JA308868,2017-06-15 23:28:00,FALSE,FALSE,1511,15,29,25,01A\r,...,011XX N MASON AVE,110,11,FIRST DEGREE MURDER,STREET,1136490.0,1906880.0,2017,2017-06-22 15:56:00,"(41.900650111, -87.774108189)"
67,22373,HZ183568,2016-03-11 17:45:00,TRUE,FALSE,1524,15,37,25,01A\r,...,008XX N LATROBE AVE,110,11,FIRST DEGREE MURDER,AUTO,1141200.0,1905090.0,2016,2017-06-28 15:52:00,"(41.895638828, -87.756844789)"
68,23412,JA320110,2017-06-22 22:20:00,FALSE,FALSE,1511,15,29,25,01A\r,...,058XX W OHIO ST,110,11,FIRST DEGREE MURDER,STREET,1137430.0,1903390.0,2017,2017-07-03 15:46:00,"(41.891042543, -87.770743309)"
69,23396,JA323904,2017-06-26 20:23:00,FALSE,FALSE,1533,15,24,25,01A\r,...,048XX W GLADYS AVE,110,11,FIRST DEGREE MURDER,AUTO,1144090.0,1897900.0,2017,2017-07-03 15:48:00,"(41.875863126, -87.746421901)"
70,23475,JA362123,2017-07-25 06:25:00,FALSE,FALSE,1523,15,28,25,01A\r,...,003XX N LOREL AVE,110,11,FIRST DEGREE MURDER,ALLEY,1140650.0,1901690.0,2017,2017-08-01 15:52:00,"(41.886329948, -87.758955679)"
71,22707,HZ388943,2016-08-15 06:19:00,TRUE,FALSE,1532,15,28,25,01A\r,...,004XX N LAVERGNE AVE,110,11,FIRST DEGREE MURDER,PORCH,1142960.0,1902470.0,2016,2017-08-04 15:48:00,"(41.8884167, -87.75046436)"
72,23505,JA384146,2017-08-09 15:29:00,FALSE,FALSE,1522,15,29,25,01A\r,...,001XX S LOCKWOOD AVE,110,11,FIRST DEGREE MURDER,STREET,1141030.0,1899050.0,2017,2017-08-16 16:03:00,"(41.879070328, -87.757643679)"
73,23516,JA389322,2017-08-13 11:47:00,FALSE,FALSE,1522,15,29,25,01A\r,...,002XX S LARAMIE AVE,110,11,FIRST DEGREE MURDER,CHURCH,1141760.0,1898380.0,2017,2017-08-20 15:51:00,"(41.87720717, -87.754950515)"
74,23517,JA389322,2017-08-13 11:45:00,FALSE,FALSE,1522,15,29,25,01A\r,...,002XX S LARAMIE AVE,110,11,FIRST DEGREE MURDER,CHURCH,1141760.0,1898380.0,2017,2017-08-20 15:51:00,"(41.87720717, -87.754950515)"
75,23524,JA392890,2017-08-16 07:06:00,FALSE,FALSE,1524,15,37,25,01A\r,...,054XX W RICE ST,110,11,FIRST DEGREE MURDER,STREET,1139930.0,1905140.0,2017,2017-08-23 15:57:00,"(41.895793941, -87.761522791)"
76,22452,HZ249724,2016-05-03 14:00:00,FALSE,FALSE,1533,15,28,25,01A\r,...,049XX W MONROE ST,110,11,FIRST DEGREE MURDER,STREET,1143600.0,1899210.0,2016,2016-05-10 15:56:00,"(41.879467146, -87.748195577)"
77,22460,HZ255700,2016-05-07 23:45:00,FALSE,FALSE,1533,15,24,25,01A\r,...,004XX S CICERO AVE,110,11,FIRST DEGREE MURDER,STREET,1144460.0,1897480.0,2016,2016-05-14 15:53:00,"(41.874689829, -87.745055715)"
78,22478,HZ264446,2016-05-14 16:14:00,FALSE,FALSE,1511,15,29,25,01A\r,...,008XX N WALLER AVE,110,11,FIRST DEGREE MURDER,AUTO,1138210.0,1905000.0,2016,2016-05-21 15:53:00,"(41.895441064, -87.767847132)"
79,22479,HZ264420,2016-05-14 17:25:00,FALSE,FALSE,1522,15,29,25,01A\r,...,053XX W HARRISON ST,110,11,FIRST DEGREE MURDER,STREET,1140960.0,1896800.0,2016,2016-05-21 15:53:00,"(41.872910954, -87.757937613)"
80,22482,HZ265167,2016-05-15 07:24:00,FALSE,FALSE,1533,15,28,25,01A\r,...,049XX W WASHINGTON BLVD,110,11,FIRST DEGREE MURDER,STREET,1143360.0,1900050.0,2016,2016-05-22 15:54:00,"(41.881768482, -87.749059579)"
81,22483,HZ265551,2016-05-15 14:46:00,FALSE,FALSE,1522,15,28,25,01A\r,...,000XX N LOREL AVE,110,11,FIRST DEGREE MURDER,STREET,1140720.0,1899740.0,2016,2016-05-22 15:54:00,"(41.880966677, -87.758754007)"
82,22492,HZ269169,2016-05-18 09:33:00,FALSE,FALSE,1524,15,37,25,01A\r,...,054XX W WALTON ST,110,11,FIRST DEGREE MURDER,STREET,1139830.0,1905800.0,2016,2016-05-25 15:59:00,"(41.897617774, -87.761855466)"
83,22493,HZ269856,2016-05-18 18:13:00,FALSE,FALSE,1511,15,29,25,01A\r,...,058XX W AUGUSTA BLVD,110,11,FIRST DEGREE MURDER,STREET,1136920.0,1906060.0,2016,2016-05-25 15:59:00,"(41.898392154, -87.772533743)"
84,22297,HZ129627,2016-01-26 16:40:00,FALSE,FALSE,1533,15,28,25,01A\r,...,000XX S LEAMINGTON AVE,110,11,FIRST DEGREE MURDER,STREET,1142140.0,1899420.0,2016,2016-02-02 15:58:00,"(41.880062314, -87.753540389)"
85,22301,HZ133462,2016-01-29 20:14:00,FALSE,FALSE,1531,15,37,25,01A\r,...,051XX W DIVISION ST,110,11,FIRST DEGREE MURDER,STREET,1141720.0,1907500.0,2016,2016-02-05 15:49:00,"(41.902261847, -87.754893433)"
86,22311,HZ138606,2016-02-03 08:53:00,FALSE,FALSE,1532,15,28,25,01A\r,...,050XX W FERDINAND ST,110,11,FIRST DEGREE MURDER,STREET,1142850.0,1902810.0,2016,2016-02-10 15:53:00,"(41.889351694, -87.750848831)"
87,22341,HZ155545,2016-02-18 09:10:00,FALSE,FALSE,1531,15,37,25,01A\r,...,010XX N LAVERGNE AVE,110,11,FIRST DEGREE MURDER,STREET,1142840.0,1906370.0,2016,2016-02-25 15:59:00,"(41.89913742, -87.750800314)"
88,22350,HZ163828,2016-02-24 18:30:00,TRUE,FALSE,1524,15,37,25,01A\r,...,053XX W HURON ST,110,11,FIRST DEGREE MURDER,STREET,1140700.0,1904110.0,2016,2016-03-03 15:45:00,"(41.89297257, -87.758716201)"
89,22359,HZ171909,2016-03-02 14:10:00,FALSE,FALSE,1512,15,29,25,01A\r,...,003XX N CENTRAL AVE,110,11,FIRST DEGREE MURDER,CLEANERS/LAUNDROMAT,1138980.0,1901800.0,2016,2016-03-09 16:05:00,"(41.886665074, -87.765089381)"
90,22411,HZ215033,2016-04-06 01:45:00,FALSE,FALSE,1533,15,28,25,01A\r,...,049XX W MADISON ST,110,11,FIRST DEGREE MURDER,PARKING LOT,1143190.0,1899560.0,2016,2016-04-13 15:57:00,"(41.8804407, -87.749684919)"
91,22327,HZ149984,2016-02-13 05:40:00,FALSE,FALSE,1533,15,24,25,01A\r,...,003XX S CICERO AVE,110,11,FIRST DEGREE MURDER,HOUSE,1144460.0,1897780.0,2016,2016-02-20 15:53:00,"(41.87551051, -87.745084907)"

In [7]:
q7 = "SELECT AVG(DATEDIFF(crimedata2.Updated_On,crimedata1.Date)) as Average_Date FROM crimedata2 join crimedata1 ON crimedata2.Crime_ID = crimedata1.Crime_ID;"

df_q7 = pd.DataFrame(pd.read_sql(q7,conn))

df_q7

   Average_Date
0       14.1834

In [11]:
q8 = "SELECT d.* ,i.date from crimedata2 d , crimedata1 i WHERE d.Crime_ID = i.Crime_ID and d.Case_Number = i.Case_Number\
      and DATE(d.Updated_On) = DATE(i.date) and DATE(i.date) = '4/30/2016';"

df_q8 = pd.DataFrame(pd.read_sql(q8,conn))

df_q8

/anaconda3/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (1292, "Truncated incorrect date value: '4/30/2016'")
  result = self._query(query)

Empty DataFrame
Columns: [Crime_ID, Case_Number, Block, IUCR, Primary_Type_ID, Description, Location_Description, X_Coordinate, Y_Coordinate, Year, Updated_On, Location, date]
Index: []

In [12]:
q9 = "SELECT Primary_Type from crimedata1 join crimedata2 ON crimedata1.Crime_ID = crimedata2.Crime_ID join crime_type on\
      crimedata2.Primary_Type_ID = crime_type.Primary_Type_ID WHERE Arrest = 'TRUE' and Domestic = 'TRUE' and Location_Description = 'STREET'\
      and year=2016 group by Primary_Type;"

df_q9 = pd.DataFrame(pd.read_sql(q9,conn))

df_q9

                  Primary_Type
0                      ASSAULT
1                      BATTERY
2          CRIM SEXUAL ASSAULT
3              CRIMINAL DAMAGE
4            CRIMINAL TRESPASS
5                     HOMICIDE
6                 INTIMIDATION
7                   KIDNAPPING
8          MOTOR VEHICLE THEFT
9                    NARCOTICS
10  OFFENSE INVOLVING CHILDREN
11               OTHER OFFENSE
12      PUBLIC PEACE VIOLATION
13                     ROBBERY
14                    STALKING
15                       THEFT
16           WEAPONS VIOLATION

In [13]:
q10 = "SELECT d.*, i.FBI_Code, i.District from crimedata2 d, crimedata1 i WHERE d.Crime_ID = i.Crime_ID and d.Case_Number = i.Case_Number\
        and i.FBI_Code = 30 and i.District =10 and d.Description = 'TELEPHONE THREAT';"

df_q10 = pd.DataFrame(pd.read_sql(q10,conn))

df_q10

Empty DataFrame
Columns: [Crime_ID, Case_Number, Block, IUCR, Primary_Type_ID, Description, Location_Description, X_Coordinate, Y_Coordinate, Year, Updated_On, Location, FBI_Code, District]
Index: []